# Ignore the build dir
build

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore CMake stuff
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
